// reset

html {
    box-sizing: border-box;
    font-size: 62,5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// custom variable

$clr-primary: rgb(60, 160, 203);
$clr-secondary: rgb(245, 245, 243);
$clr-ternary: rgb(25, 25, 13);
$clr-white: rgb(255, 255, 255);
$clr-table-cells: rgb(205, 245, 243);
$clr-gray: rgb(203, 203, 203);

// container

.container {
    position: relative;
    min-height: 100vh;
    background-color: $clr-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    * {
        color: $clr-ternary;
    }

    h1:nth-of-type(1) {
        margin-top: 1.5rem;
    }

    p {
        line-break: strict;
    }

    table {
        margin: 1.5rem 0;
    }

    td {
        padding: 1.5rem 1.2rem;
        border: 0.1rem solid $clr-ternary;
    }
}

// write-coworker-data, delete-coworker

.write-coworker-data,
.delete-coworker,
.search-coworker {
    display: flex;
    max-width: 20rem;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
        padding: 1.2rem 1.3rem;
    }

    input:not(.add-btn, .del-btn, .reset-btn) {
        max-width: 6rem;
    }
}

// delete-coworker and search-coworker

.delete-coworker,
.search-coworker {
    flex-direction: column;
    align-items: center;
}

// possible-workers

.possible-workers {
    max-width: inherit;
    margin-top: 1rem;
    background-color: $clr-secondary;

    .worker {
        display: block;
        padding: 1.2rem 1.5rem;
        background-color: $clr-white;
        min-width: 7rem;
        color: $clr-ternary;
        border: 0;
        border-bottom: 0.1rem solid $clr-ternary;
        outline: 0.1rem solid transparent;
    }

    @media screen and (hover: hover) {

        .worker:hover {
            background-color: $clr-primary;
            color: $clr-secondary;
        }
    }
}

// add-btn, del-btn, reset-btn

.add-btn,
.del-btn,
.reset-btn {
    display: block;
    margin: 1.2rem auto;
    background-color: $clr-primary;
    color: $clr-secondary;
    border: 0;
    outline: 0.1rem solid transparent;
    cursor: pointer;

    &:active {
        background-color: $clr-secondary;
        color: $clr-primary;
        border: 0.1rem solid $clr-gray;
    }
}

// coworker-infos

.coworker-infos {

    border-collapse: collapse;

    thead td {
        background-color: $clr-primary;
        color: $clr-secondary;
    }

    td:not(thead td) {
        background-color: $clr-table-cells;
    }
}

// message

.message {
    display: block;
    position: fixed;
    text-align: center;
    background-color: $clr-ternary;
    color: $clr-secondary;
    width: 100%;
    height: 7rem;
    padding: 2rem 1.5rem;
    top: 10rem;
}